[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
asyncpg = "*"
beautifulsoup4 = "*"
imgurpython = "*"
GitPython = "*"
gTTS = "==2.1.1"
"discord.py" = "==1.3.2"
cffi = "==1.14.0"
gitdb2 = "==4.0.2"
smmap2 = "==3.0.1"

[requires]
python_version = "3.8"
