[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "DiscordBot"
version = "3.0.0"
description = "A Bot for Discord"
license = "MIT"
readme = "README.md"
authors = ["Daniel Costa <danieldcsta@gmail.com>"]
maintainers = ["Daniel Costa"]
repository = "https://github.com/ddc/DiscordBot"
homepage = "https://ddc.github.io/DiscordBot"
package-mode = false
keywords = [
    "python3", "python-3", "python",
    "DiscordBot", "discord-bots", "bot",
    "discord-py",
]

[tool.poetry.group.test]
optional = true

[tool.poetry.dependencies]
python = "^3.13"
alembic = "^1.16.4"
beautifulsoup4 = "^4.13.4"
ddcDatabases = {extras = ["pgsql"], version = "^2.0.6"}
discord-py = "^2.5.2"
gTTS = "^2.5.4"
openai = "^1.99.9"
PyNaCl = "^1.5.0"
pythonLogs = "^5.0.1"

[tool.poetry.group.test.dependencies]
coverage = "^7.10.3"
faker = "^37.5.3"
poethepoet = "^0.37.0"
pytest = "^8.4.1"
pytest-asyncio = "^1.1.0"
pytest-cov = "^6.2.1"

[tool.poe.tasks]
_test = "python -m pytest -v --cov --cov-report=term --cov-report=xml --junitxml=junit.xml -o junit_family=legacy"
tests = ["_test"]
test = ["tests"]

[tool.coverage.run]
omit = [
    "tests/*",
    "src/database/migrations/*",
    "*/__init__.py",
]

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "def __repr__",
    "if self.debug:",
    "if settings.DEBUG",
    "raise AssertionError",
    "raise NotImplementedError",
    "if 0:",
    "if __name__ == .__main__.:",
    "class .*\\bProtocol\\):",
    "@(abc\\.)?abstractmethod",
]
show_missing = false
skip_covered = false

[tool.black]
line-length = 120
skip-string-normalization = true
