aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncpg==0.22.0
attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
discord.py==1.4.2
gitdb==4.0.7
gitdb2==4.0.2
GitPython==3.1.15
gTTS==2.2.2
gTTS-token==1.1.4
idna==2.10
imgurpython==1.1.7
multidict==5.1.0
pycparser==2.20
PyNaCl==1.4.0
pytils==0.3
requests==2.25.1
six==1.16.0
smmap==4.0.0
smmap2==3.0.1
soupsieve==2.2.1
typing-extensions==3.10.0.0
urllib3==1.26.4
websockets==9.0.1
yarl==1.6.3
